<p>Password changed!</p>
<form action="/ajax/change-password" method="POST" id="js-change-password">
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <button type="submit">Change password</button>
</form>