{{ define "menu" }}
<nav>
    <ul>
        {{ if .User }}
        <li>
            <a href="/profile">Profile</a>
        </li>
        {{ else }}
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/register">Register</a>
        </li>
        {{ end }}
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
</nav>
{{ end }}